*{
  margin: 0;
  padding: 0;
  background-color: #1A1A1A;
  color: cyan
}
h1{
  text-align: center;
}
.login{
  height: 300px;
  /* background-color: red; */
  margin-top: 6rem;
  width: 500px;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  line-height: 3;
}
.login label{
  text-align: center;
  color: cyan
}
.login input{
  height: 30px;
  width: 100%;
  border: 1px solid white;
  border-radius: 4px;
  text-align: center;
}
